<div>
  <img class="absolute top-10 z-10 w-[800px] left-0 right-0 m-auto" src="/logo-home.svg" alt="Esland - Premios a la comunidad">
<video class="[clip-path:polygon(0%_85%,0%_0%,100%_0%,100%_85%,50%_100%)] w-full h-screen object-cover object-top animate-fade animate-duration-[3000ms]" src="/video.mp4" autoplay loop muted></video>
  <video class="absolute -bottom-48 blur-3xl -z-40" src="/video.mp4" autoplay loop muted></video>
</div>
<style>
</style>
